/* header{
    height: 600px;
    background-image: url("img/bg2.png"),url("img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo{
    height: 30px;

}
.logo_title{
    display: flex;

}
a{
    display: inline;
    text-decoration: none;
    color: white;
    justify-content: center;
    margin-left: 50;

}

 */
.head_home{
    height:600px;
    width: 100%;
    background-image: url(img/bg2.png),url(img/bg.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.head_event{
    height:600px;
    width: 100%;
    background-image: url("img/bg_ev.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#nav{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
ul{
    
    list-style-type: none;
    margin-right:50px;
    color:white;
}
.nav_links a{
    text-decoration: none;
    color:white;
}
.nav_links ul{
    display: flex;
    
}

.logo{
    width:40px;
}
.logo_title img{
    width: 152px;
    height: 38px;
    align-items: center;
    justify-content: center;
    margin-left: 140px;
    
}
.content{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.first_box{
    width: 40%;
}
.first_box img{
    width: 100%;
    justify-content: center;
}
.second_box{
    width: 40%;
}
.second_box h1{
    height: 100px;
    color:white;
    width: 70%;
}
.second_box >p{
    color:white;
    width: 400px;
}

.buttons_scnd_box{
    align-items: center;
    gap:15px;
    display:flex;
}
.buttons_scnd_box button a {
    text-decoration:none;
    color:white;
    /* background-color: aliceblue; */
   width: 100%;
}
.buttons_scnd_box button{
    
    display:flex;
    width: 190px;
    height:40px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color:transparent;
    border:solid 1px white;
    border-radius:10px;   
}


.logo_desc > img{
    width: 20px;
}
.logoF{
    width:100px;
}
.logo_desc{
    display: flex;
    flex-direction: column;
    color: white;
}
.logo_desc > img{
    display: flex;
}
.plan_event{
    display: inline;
    color: white;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}
.copy{
    grid-area: 2 / 1 / 3 / 5;
    color:white;
    text-align: center;
    border: 100px;
    border-color: white;
    border-top: 100px;
    
}
.upComing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.upComing img{
    width: 100%;
}
.img3{
    grid-area: 2 / 1 / 3 / 3;
}
.img3 img{
    width: 100%;
    height: 132.38px;
}
.blog{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.blog img{
    width: 100%;
}
