.nav-bar{
    display: flex;
    justify-content: end;
    background-image: url("img/bg2.png") , url("img/bg.png");
    background-size: cover;
    height: 250px;
    
}
img{
    height: 20px;
    margin: auto;
}
.nav-bar span{
    margin: auto 20px;
}

